$fontPrimary: 'Playfair Display', 'Baskerville', 'Times New Roman', serif;
$fontSecondary: 'Arial', 'Avenir', 'Helvetica', sans-serif;


$colorPrimary: #121221;
$colorPrimaryLight: #444444;
$colorPrimaryLighter: #6c6c6c;
$colorPrimaryLightest: #949494;

$colorNeutral: #f8f8f8;
$colorNeutralLight: #fdfdfd;